# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/canvas-server/build.gradle.kts
/canvas-server/src/minecraft
/canvas-api/build.gradle.kts
/folia-api
/folia-server
/paper-server
/paper-api
/generated-patches

.idea/
/local/
