# JVM crash related
core.*
hs_err_pid*

# Intellij
/.idea/*
!/.idea/runConfigurations
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# Gradle
!gradle-wrapper.jar
../Canvas/.gradle/
build/
*/build/

# we use maven!
build.xml

# Maven
log/
target/
dependency-reduced-pom.xml

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac
.DS_Store/
.DS_Store

# vim
.*.sw[a-p]

# Linux temp files
*~

# other stuff
run/

build-data/
*.jar
/build/
/bin/
/Canvas-Launcher/bin/
/.vscode/
/.gradle/
/Canvas-Launcher/src/java9/space/vectrix/ignite/applaunch/agent/Agent.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/agent/Agent.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/Blackboard.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/util/BlackboardMap.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/service/BootstrapServiceHandler.java
/Canvas-Launcher/build.gradle.kts
/build-logic/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build-logic/.gradle/buildOutputCleanup/cache.properties
/Canvas-Launcher/src/main/java/com/dueris/canvas/CanvasConfiguration.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/config/path/ConfigPath.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/inject/provider/ConfigPathAnnotation.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/config/Configuration.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/config/Configurations.java
/Canvas-Launcher/src/main/resources/META-INF/services/cpw.mods.modlauncher.api.ILaunchHandlerService
/Canvas-Launcher/src/main/resources/META-INF/services/cpw.mods.modlauncher.api.ITransformationService
/Canvas-Launcher/src/main/resources/META-INF/services/cpw.mods.modlauncher.serviceapi.ILaunchPluginService
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/service/DummyBootstrapService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/util/EngineResource.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/event/EventHandler.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/event/EventManager.java
/build-logic/.gradle/8.1.1/executionHistory/executionHistory.bin
/build-logic/.gradle/8.3/executionHistory/executionHistory.bin
/build-logic/.gradle/8.1.1/executionHistory/executionHistory.lock
/build-logic/.gradle/8.3/executionHistory/executionHistory.lock
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/service/IBootstrapService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/Ignite.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/handler/IgniteAccessWidenerService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/IgniteBootstrap.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/IgniteConfigurations.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/util/IgniteConstants.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/event/IgniteEventManager.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/util/IgniteExclusions.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/IgniteLaunch.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/handler/IgniteLaunchService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/mixin/IgniteMixinPlatformService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/mixin/IgniteMixinService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/mod/IgniteModManager.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/inject/IgniteModule.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/IgnitePlatform.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/handler/IgniteTransformationService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/service/LegacyPaperclipBootstrapService.java
/Canvas-Launcher/src/main/resources/log4j2.component.properties
/Canvas-Launcher/src/main/resources/log4j2.xml
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/mod/ModClassLoader.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/mod/ModConfig.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/mod/ModContainer.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/mod/ModDependencyResolver.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/mod/ModEngine.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/mod/ModLoader.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/mod/ModManager.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/launch/inject/ModModule.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/mod/ModResource.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/mod/ModResourceLoader.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/mod/ModResourceLocator.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/config/path/ModsPath.java
/Canvas-Launcher/src/main/resources/META-INF/services/org.spongepowered.asm.service.IMixinService
/build-logic/.gradle/buildOutputCleanup/outputFiles.bin
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/service/PaperclipBootstrapService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/agent/transformer/PaperclipTransformer.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/Platform.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/event/platform/PlatformConstructEvent.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/event/platform/PlatformInitializeEvent.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/event/PostPriority.java
/Canvas-Launcher/src/main/java/cpw/mods/modlauncher/SecureJarHandler.java
/Canvas-Launcher/src/main/resources/META-INF/services/space.vectrix.ignite.api.service.IBootstrapService
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/service/SpigotBootstrapService.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/applaunch/agent/transformer/SpigotTransformer.java
/Canvas-Launcher/src/main/java/space/vectrix/ignite/api/event/Subscribe.java
