name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: '**'

jobs:
  message:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Start
        uses: tsickert/discord-webhook@v5.3.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          content: "Test"
          sender: "github"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3.6.0
        with:
          distribution: temurin
          java-version: 21
          cache: 'gradle'
      - name: Run Deploy
        if: "!contains(github.event.head_commit.message, '--skip') && !contains(github.event.head_commit.commit.message, '--skip')"
        run: |
          git config --global user.email "no-reply@github.com" && git config --global user.name "Github Actions"
          ./gradlew applyPatches --no-daemon
          ./gradlew createCanvasServer --no-daemon
          ./gradlew generateDevelopmentBundle --info
      - name: Rebuild on Failure
        if: ${{ failure() }}
        run: |
          ./gradlew clean cleanCache
          ./gradlew applyPatches --no-daemon
          ./gradlew createCanvasServer --no-daemon
          ./gradlew generateDevelopmentBundle --no-daemon
      - name: Prep Release
        if: "!contains(github.event.head_commit.message, '--skip') && !contains(github.event.head_commit.commit.message, '--skip')"
        run: echo "COMMIT_HASH=$(git log --format='%H' -n 1)" >> $GITHUB_ENV
        id: set_commit_hash
      - name: Create Release Data
        if: "!contains(github.event.head_commit.message, '--skip') && !contains(github.event.head_commit.commit.message, '--skip')"
        uses: softprops/action-gh-release@v1
        with:
          name: Build ${{ github.run_number }}
          tag_name: ${{ github.run_number }}
          body: "[\"artifact_name\"=canvas-launcher.jar]/[\"changes\"=${{ github.event.head_commit.message }}]/[\"commit_hash\"=${{ env.COMMIT_HASH }}]/[\"version\"=MC1.21]  mark:unstable"
          token: ${{ secrets.GIT_TOKEN }}
          files: target/*.jar
